@font-face {
  font-family: 'DT';
  src: url('/DT.otf') format('opentype');
}

@font-face {
  font-family: 'This Cafe';
  src: url('/This Cafe.ttf') format('truetype');
}

:root {
  --primary-color: #0098ea;
  --secondary-color: #4169E1;
  --accent-color: #8A2BE2;
  --background-color: #0098ea;
  --text-color: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DT', Arial, 'This Cafe', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  overflow-x: hidden;
}

.logo, .ticker__item, .cool-button-content {
  font-family: 'DT', sans-serif;
}

.currency-symbol {
  font-family: 'This Cafe', sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  background: transparent;
  position: relative;
  top: -6vh;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.logo-image {
  width: 40px;
  height: 40px;
  margin-left: 100px;
}

.nav-links {
  display: flex;
  gap: 20px;
  background-color: #ffffffa1;
  border-radius: 30px;
  padding: 10px 20px;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
  opacity: 1;
  max-height: 500px;
  z-index: 3;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.nav-links.close {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}

.launch-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #ff4081;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 100px;
}

.launch-button:hover {
  background-color: #f50057;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu-icon {
  position: relative;
  width: 25px;
  height: 2px;
  background-color: var(--text-color);
  transition: all 0.3s;
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  position: absolute;
  transition: all 0.3s;
}

.menu-icon span:nth-child(1) {
  top: -8px;
}

.menu-icon span:nth-child(2) {
  top: 0;
}

.menu-icon span:nth-child(3) {
  top: 8px;
}

.menu-icon.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
  padding-top: 60px;
  background: url('../assets/dbback.png') no-repeat center center;
  background-size: cover;
  background-attachment: scroll;
}

.background-tickers {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  max-width: 100vw;
  margin: 0 auto;
  gap: 10vw;
  position: relative;
  z-index: 20;
  flex-grow: 1;
  flex-wrap: wrap;
  top: -100px;
}

.text-content {
  flex: 1;
  text-align: left;
  max-width: 600px;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-icons .icon {
  background-size: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

.social-icons .icon:hover {
  transform: scale(1.2);
}

.image-container {
  flex: 0 0 auto;
  width: 400px;
  height: 400px;
  align-self: center;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 20px 50px rgba(0,0,0,0.4), 0 0 50px 20px rgba(64, 224, 208, 0.5);
  transition: all 0.3s ease;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-wrapper.hovered img {
  transform: scale(1.05) translateZ(30px);
}

.particle-canvas {
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  pointer-events: none;
  z-index: 2;
}

.text-content h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.animated-text {
  display: inline-block;
  transition: color 0.5s ease;
}

.animated-text.yellow-text {
  color: #FFD700;
}

.text-content h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #000;
}

.cool-button {
  position: relative;
  padding: 15px 30px;
  font-size: 18px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
  outline: none;
  margin-top: 20px;
  top: -3vh;
}

.cool-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.3), transparent);
  transition: all 0.5s;
}

.cool-button:hover:before {
  left: 100%;
}

.cool-button:hover {
  background-color: #444;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.cool-button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cool-button-content {
  position: relative;
  z-index: 1;
}

.cool-button-glitch {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  filter: blur(10px);
  opacity: 0;
  transition: all 0.3s ease;
}

.cool-button:hover .cool-button-glitch {
  opacity: 0.3;
  filter: blur(5px);
}

.cool-button-label {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease;
}

.cool-button:hover .cool-button-label {
  opacity: 1;
  bottom: -25px;
}

.looper {
  width: 100%;
  overflow: hidden;
}

.looper__innerList {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
  animation: slide linear infinite;
}

.looper__listInstance {
  display: flex;
  width: max-content;
}

.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  white-space: nowrap;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.bouncing-circle {
  position: absolute;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  z-index: 15;
  pointer-events: none;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

.image-wrapper {
  animation: float 6s ease-in-out infinite;
}

/* Media Queries */
@media (max-width: 1200px) {
  .nav {
    margin-top: 20px;
  }
  .content {
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 40px;
  }

  .image-container {
    margin-left: 0;
    margin-top: 20px;
    position: relative;
    top: -10vh;
  }

  .text-content {
    text-align: center;
  }

  .text-content h1 {
    font-size: 3.5rem;
  }

  .text-content h2 {
    font-size: 1.75rem;
  }

  .nav-links {
    gap: 10px;
    padding: 5px 10px;
    background-color: #ffffffa1;
    

  }

  .nav-links a {
    font-size: 0.9rem;
  }

  .launch-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .logo {
    left: auto;
  }

  .social-icons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .main-container {
    padding-top: 0;
    background-attachment: scroll;
  }

  .nav {
    position: absolute;
    top: -2vh;
    left: 0;
    right: 0;
    padding: 0px;
    background-color: #ffffffa1;
    
  }

  .content {
    margin-top: 30vh;
    top: 0;
    gap: 20px;
  }

  .text-content h1 {
    font-size: 2.8rem;
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .text-content h1 .animated-text {
    margin-left: 10px;
  }

  .text-content h2 {
    font-size: 1.3rem;
    margin-top: 10px;
  }

  .cool-button {
    padding: 12px 24px;
    font-size: 16px;
  }

  .image-container {
    width: 280px;
    height: 280px;
    margin-top: 20px;
    position: relative;
    top: -15vh
  }

  .logo {
    font-size: 2rem;
    position: relative;
    left: -10vw;
  }

  .logo-image {
    width: 30px;
    height: 30px;
    scale: 1.5;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: #ffffffa1;
    width: 100%;
    order: 3;
  }

  .nav-links.open {
    max-height: 300px;
    opacity: 1;
  }

  .nav-links a {
    font-size: 1rem;
    padding: 5px 0;
  }

  .launch-button {
    display: none;
  }

  .menu-toggle {
    display: flex;
    order: 1;
  }

  .social-icons {
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .nav {
    padding: 20px;
  }
  .logo {
    font-size: 2rem;
    position: relative;
    left: -10vw;
  }
  .logo-image {
    scale: 1.5;
  }
  .content {
    margin-top: 20vh;
    gap: 15px;
    padding: 0 10px;
  }

  .text-content h1 {
    font-size: 2.3rem;
    line-height: 1.2;
  }

  .text-content h2 {
    font-size: 1.1rem;
    margin-top: 5px;
  }

  .image-container {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    position: relative;
    top: -30vh;
  }

  .cool-button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .social-icons {
    gap: 8px;
  }

  .social-icons .icon {
    width: 70px;
    height: 70px;
  }

  .ticker__item {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
  .nav-links {
    background-color: #ffffffa1;

  }
}

@media (max-width: 480px) {
  .content {
    margin-top: 20vh;
  }

  .text-content h1 {
    font-size: 2rem;
  }

  .text-content h2 {
    font-size: 1.5rem;
  }

  .image-container {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 45vh;
  }

  .cool-button {
    padding: 8px 16px;
    font-size: 1rem;
  }
 

  .social-icons .icon {
    width: 50px;
    height: 50px;
  }
  .logo {
    position: relative;
    left: -20vw;
    scale: .8;
  }
  .nav {
    padding: 5px;
    height: ;
    background-color: #ffffffa1;
    position: absolute;
    top: -20px;

  }

}

@media (max-width: 320px) {
  .text-content h1 {
    font-size: 1.8rem;
  }

  .text-content h2 {
    font-size: 0.9rem;
  }

  .image-container {
    width: 150px;
    height: 150px;
  }

  .cool-button {
    padding: 6px 12px;
    font-size: 10px;
  }

  .social-icons .icon {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 769px) {
  .main-container {
    background-attachment: fixed;
  }
}

@media (min-width: 1921px) {
  .main-container {
    background-size: cover;
    background-position: center top;
  }
}

@media (min-height: 1081px) {
  .main-container {
    background-size: cover;
    background-position: center center;
  }
}

@media (min-width: 2560px) {
  .content {
    max-width: 1800px;
    margin: 0 auto;
  }

  .text-content h1 {
    font-size: 7rem;
  }

  .text-content h2 {
    font-size: 2.5rem;
  }

  .image-container {
    width: 600px;
    height: 600px;
  }
}
